#changeImg {
    
}

#changeImgMobil {
    display: none;
}

#changeImgMobil2 {
    display: none;
}

#main-slider h3 a {
    /* font-family: "Oxygen" !important; */
}


.site-branding {
    margin: 0;
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    left: 0px;
    top: -9px;
}

footer {
    background-color: #88c7c2 !important;
    overflow: hidden !important;
    width: 100% !important;
    height: 80px !important;
    font-size: 12px !important;
}

.copyright {
    text-align: center !important;
    width: 100% !important;
    margin-top: 32px !important;
    color: white !important;
}

#myLogo {
    width: 100% !important;
    margin-top: -5px !important;
}

.d-none {
    display: none !important;
}

#colophon {
    background-color: #D9D9D9;
}

#masthead {
    padding: 8px 0;
}

.header-v4 #masthead.sticky-enabled.sticky-header {
    background: #fff !important;
}

.header-v4 .main-navigation ul li a {
    color: #616161 !important;
    font-size: 17px !important;
    font-family: "Heebo" !important;
}

#whiteBackground {
    background-color: #FFFFFF !important;
}

.section-featured-slider .overlay-enabled article::after {
    background-color: rgba(94, 94, 94, 0.21) !important;
}

.fixFont {
    font-family: 'Montserrat', sans-serif !important;
}

.main-navigation ul li a {
    font-weight: 200 !important;
    font-size: 16px !important;
}

.main-navigation {
    text-align: center;
    margin-top: -19px;
}

.navAnchors {
    padding-right: 184px;
}

#social1 {
    font-size: 40px !important;
    color: #6b87c5 !important;
}

#social2 {
    font-size: 40px !important;
    color: #4dbddc !important;
}

#social3 {
    font-size: 40px !important;
    color: #4ea0c5 !important;
}



.header-v4 #masthead {
    background-color: white !important;
    /* border-bottom: 1px solid #569856 !important; */
    box-shadow: -2px 1px 1px;
}

.fab {
    padding-top: 11px !important;
}

.section-featured-slider:hover .cycle-prev,
.section-featured-slider:hover .cycle-next {
    opacity: 0 !important;
}

.fixA {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: -20px !important;
}

.fixA::before {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: -14px !important;
}

.fixA::after {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: -14px !important;
}

.header-v4 #masthead.sticky-enabled.sticky-header {
    background: #fff !important;
    border-bottom: none !important;
}

element.style {}

.header-v4 #masthead {
    border-bottom: 1px solid #0ea760 !important;
}

.pager-box cycle-pager-active {
    display: none !important;
}

.section-featured-slider h3 {
    /* font-size: 60px;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: 600;
    max-width: 100%;
    display: inline-block; */
    font-family: "Heebo" !important;
    font-size: 55px !important;
}
.section-featured-slider h4 {
    color: #fff;
    font-size: 30px !important;
    font-family: "Heebo" !important;
    margin: 0px;
    line-height: 1;
}
.section-featured-slider .cycle-caption {
    bottom: 9% !important;  
}

.section-featured-slider .cycle-caption.text-alignleft {
    left: 9%;
}
#MobilNavBars{
    display: none;
}
.ImgBars:hover{
cursor: pointer;
}
#content .section-top-subtitle {
    /* position: relative;
    color: #262626;
    font-family: 'Lora', serif;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px; */
    font-family: "Heebo" !important;
}
#content .section-title {
    font-family: "Heebo" !important;
    font-weight: bold !important; 
    
}
#header-right {
    margin-top: 3px;
    margin-right: 0px;
}

@media only screen and (max-width: 1290px){
    #myLogo{
        width: 70% !important;
        margin-top: -5px !important;
        margin-left: 68px;
    }
}
/* @media only screen and (max-width: 1200px){
    .header-v4 #masthead {
        position: inherit !important;
        padding: 0 !important;
        background: #222 !important;
        
        padding: 14px 0 !important;
    }
    } */
@media only screen and (max-width: 1170px){
    #myLogo{
    
        width: 70% !important;
        margin-top: -14px !important;
        margin-left: 68px;
    }
    #mob-menu {
        display: block !important;
    }
    #mob-menu.sidr ul li.has-mega-menu ul {
		display: block;
	}

	#mob-menu ul {
		display: none;
	}

	.sidr-open #mob-menu .sidr-inner > ul{
		display: block;
    }
    .header-v4 #masthead {
        position: inherit;
        padding: 0;
        /* background: #222; */
        padding: 21px 0 !important;
        
    }
    .quick-link, .main-navigation {
        display: none;
    }
    #MobilNavBars{
        display: block;
    }
}
@media only screen and (max-width: 900px){
    .header-v4 #masthead {
        position: inherit;
        padding: 0;
        background: #222;
        padding: 14px 0 !important;
        
    }
    #myLogo{
        width: 60% !important;
        margin-top: -5px !important;
        margin-left: 57px;
    }
  
    }

@media only screen and (max-width: 895px) {
    #myLogo {
        width: 68% !important;
        margin-top: -9px !important;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 767px) {
    #myLogo {
        width: 63% !important;
        margin-top: -1px !important;
        margin-left: 37px;
    }
    #changeImg {
        display: block !important;
    }
    #changeImgMobil2 {
        display: none !important;
    }
    #main-slider h3 a {
        font-size: 30px;
    }
    .section-featured-slider h4 {
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 500px) {
    #myLogo {
        width: 85% !important;
        margin-top: -4px !important;
        margin-left: 0px;
    }
    #changeImg {
        display: none !important;
    }
    #changeImgMobil {
        display: none !important;
    }
    #changeImgMobil2 {
        display: block !important;
    }
}

@media only screen and (max-width: 479px) {
    #myLogo {
        width: 100% !important;
        margin-top: 5px !important;
        margin-left: 6px !important;
    }
    #changeImg {
        display: none !important;
    }
    #changeImgMobil {
        display: none !important;
    }
    #changeImgMobil2 {
        display: block !important;
    }
    .section-featured-slider .cycle-caption {
        bottom: 7% !important;
    }
  
    .section-featured-slider h4 {
        font-size: 22px !important;
        margin-bottom: 5px;
    }
}




